/* To disable blank at the to of the page */

* {
	margin: 0;
	padding: 0;
	font-family: "Raleway", sans-serif;
	user-select: none;
}

/*********************************************************************************/

/* To disable blank at the to of the page */

:root {
	--bg-color: #ececec;
}

/*********************************************************************************/


/* Animations Opacity HTML */

html {
	animation: opac 1s;
}

@keyframes opac {
	from {
		opacity:0
	}
	to {
		opacity:1
	}
}

/*********************************************************************************/

/* Back animation */

body {
	/* background: linear-gradient(120deg, var(--bg-color), #4bb1d7, #0000ff); */
	/* background-size: 400% 400%; */
	/* -webkit-animation: BackAnimation 30s ease infinite; */
	/* -moz-animation: BackAnimation 30s ease infinite; */
	/* -o-animation: BackAnimation 30s ease infinite; */
	/* animation: BackAnimation 30s ease infinite; */
	background-color: var(--bg-color);
}

@-webkit-keyframes BackAnimation {
	0%{background-position:23% 0%}
	50%{background-position:78% 100%}
	100%{background-position:23% 0%}
}
@-moz-keyframes BackAnimation {
	0%{background-position:23% 0%}
	50%{background-position:78% 100%}
	100%{background-position:23% 0%}
}
@-o-keyframes BackAnimation {
	0%{background-position:23% 0%}
	50%{background-position:78% 100%}
	100%{background-position:23% 0%}
}
@keyframes BackAnimation {
	0%{background-position:23% 0%}
	50%{background-position:78% 100%}
	100%{background-position:23% 0%}
}

/*********************************************************************************/

/* Header */

header h1 {
	font-family: open sans,Arial,Helvetica Neue,sans-serif;
	width: 100%;
	font-size: 25px;
	text-transform: uppercase;
	line-height: .8;
	letter-spacing: 3px;
	font-weight: 300;
}

header img {
	display: inline-block;
	filter: invert(0.5);
	height: 18px;
	margin: 8px;
}

header {
	text-align: center;
	/* color: #dfdfdf; */
	color: #c4c4c4;
}

/*********************************************************************************/

.container {
	background-color: var(--bg-color);
	border-radius: 20px;

	width: 500px;
	height: max-content;
	/* -webkit-box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.47);  */
	/* box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.47); */
	margin: auto;
	margin-top: 20px;
	max-width: 90%;
	overflow: auto;
	
	box-shadow:  34px 34px 68px #bebebe,
				 -34px -34px 68px #ffffff;
}

.mb {
	padding-bottom: 25px;
}

#alert-message{
	height: 50px;
	display:flex;
	justify-content:center;
	align-items:center;
}

input[type="text"] {
	overflow: hidden;
	border: none;
	border-bottom: 1px solid #7e7e7e;
	padding: 15px 0px;
	font-size: 13px;
	margin-top: 15px !important;
	background-color: white;
	transition: 1s;
	display: block;
	margin: auto;
	max-width: 95%;
	font-family: 'Courier New', Courier, monospace;
	font-size: 20px;
	text-align: center;
	width: 300px;
	max-width: 90%;
	caret-color: transparent;

	text-transform: uppercase;
	letter-spacing: 8px;
	font-weight: 300;
}

input[type="text"]:focus {
	outline: none;
	padding: 15px 5px;
	transition: 0.4s;
	border-bottom: 1px solid #585858;
	box-shadow: 0 4px 2px -2px rgba(0, 153, 255, 0.4);
}

.oh {
	overflow: hidden;
}

input[type="button"] {
	border: 0px solid #585858;
	padding: 15px 15px;
	font-size: 13px;
	margin-top: 15px !important;
	background-color: rgb(48, 166, 235);
	transition: 0.5s;
	display: block;
	margin: auto;
	color: white;
	width: 100px;

	font-family: open sans,Arial,Helvetica Neue,sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	line-height: .8;
	letter-spacing: 3px;
	font-weight: 300;
}

input[type="button"]:hover {
	background-color: rgb(40, 136, 192);
}

body {
	width: max-content;
	height: 600px;
	position: absolute; /*Can also be `fixed`*/
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	/*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
	max-width: 90%;
	max-height: 90%;
	overflow: auto;
}

html{
	width: 100%;
	height: 100%;
}


.alert-warning {
	color: #856404;
	background-color: #fff3cd;

	font-family: open sans,Arial,Helvetica Neue,sans-serif;
	font-size: 15px;
	line-height: .8;
	letter-spacing: 2px;
	font-weight: 300;
	transform: translateY(20px);
	opacity: 0;
}


.alert-warning.view {
	animation: 0.5s linear 0s forwards alternate slide-top,  0.5s linear 3.5s forwards reverse slide-top;
}

@keyframes slide-top {
	from{
		transform: translateY(20px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}

#presentation p {
	text-align: center;
}

#presentation {
	margin: 10px;
}

table {
	width: 100%;
	border-spacing: 0;
	border-collapse: separate;
	border-radius: 16px;
	overflow: hidden;
	color: #444444;
	/* box-shadow: 4px 4px 8px rgba(56,53,85,.3),-4px -4px 8px hsla(0,0%,100%,.5),inset 1px 1px 1px rgba(224,234,249,.5); */
}

td, th {
	padding :10px;
}

.cross {
	color: white;
	background: red;
	border-radius: 5px;
	width:25px;
	margin: auto;
}

.hide-btn {
	color: rgb(49, 129, 233);
	border: 1px solid rgb(49, 129, 233) ;
	border-radius: 5px;
	width:25px;
	margin: auto;
	transition: all 0.4s;

	/*disable that*/
	display: none;
}

/*

Disable beacause all time actulaised

.hide-btn:hover {
	color: rgb(255, 255, 255);
	background: rgb(49, 129, 233);
} */

.dot-container{
	margin: auto;
	text-align: center;
}

.dot {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	display: inline-block;
}

.dot.blue{
	background-color: #383555;
}

.dot.green{
	background-color: #2f9222;
}

.dot.orange{
	background-color: #ca691a;
}

.dot.red{
	background-color: #ca1a1a;
}